doctype html
html
  head 
    link(rel="stylesheet", href="../css/master.css")
  body
    .warper.flex
      block aside
        include inc/aside.pug
      block content
    script(src='../js/picker.js')
    script(src='../js/master.js')
    
  